.padding_left {
  margin-top: 60px;
}
body {
	padding-top: 70px;
	background: #eee;
}

.navbar {
	-moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
}

.navbar .navbar-brand {
	font-weight: bold;
	letter-spacing: -1px;
	font-size: 20px;
	color: #dd5638;
}

.navbar-right {
	margin-right: 0;
}

.table tbody>tr>td.middle {
	vertical-align: middle;
}

.media {
	padding: 10px 0;
}

.media img, .fileinput .thumbnail, .thumbnail img {
	border-radius: 50%;
}

.media-left {
	padding: 0 20px;
}

.media-heading {
	color: #dd5638;
	margin-bottom: 10px;
}

.media-body {
	padding-top: 15px;
}

.media-body address {
	margin-bottom: 6px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 8px 0;
  font-size: 11px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.cursor {
	cursor: pointer;
}

.stylish-input-group {
	margin-top: 15px;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}